.about-me {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
.about-me-content, .connect-content {
  width: 50%;
}