*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.navigation-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.navigation div img{
    width: 20px;
    transform: rotate(180deg);
}
.hamburger-wrapper{
    text-align: initial;
    background-color: #007FEB;
    display: inline-block;
    border-radius: 25%;
    margin: 10px;
    position: relative;
    padding: 8px;
    cursor: pointer;
    z-index: 1;
}
.hamburger-menu{
    width: 25px;
    height: 25px;
    position: relative;
}
.line{
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 6px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top{
    top: 18%;
}
.middle{
    top: 48%;
}
.bottom{
    top: 78%;
}
.icon.close .top{
    transform: rotate(45deg);
    top: 48%;
}
.icon.close .bottom, .icon.close .middle{
    transform: rotate(-45deg);
    top: 48%;
}
.side-menu{
    width: 100%;
}
.side-menu div ul li{
    list-style-type: none;
}
.side-menu div ul li a{
    text-decoration: none;
}
.overlay{
    position: fixed;
    top: 55px;
    right: 320px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: rgba(77, 111, 140, 0.8);
    transition: transform 0.5s;
}
.overlay.active{
    transform: scale(4000,4000);
}


.menu{
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
}
.menu.active{
    visibility: visible;
    transition-delay: 0.5s;
}
.menu ul{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    position: relative;
    font-size: 34px;
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    display: block;
    line-height: 2em;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.menu ul li a:before{
    content:'';
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #fff;
    left: -8px;
    width: 105%;
    height: 3px;
    background: #007FEB;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.menu ul li a:hover:before{
    transform: scaleX(1);
}




.main-project-img{
    width: 100%;
    margin-top: 35px;
}
.main-content p{
    margin-top: 35px;
    text-align: start;
    font-family: 'Philosopher', sans-serif;
}
.projects-icons{
    text-align: start;
    margin-top: 35px;
}
.projects-icons img{
    width: 25px;
}
.projects-buttons{
    text-align: start;
    margin-top: 35px;
}
.projects-buttons button{
    width: 100px;
    height: 37px;
    border-radius: 5px;
    background: #007FEB;
    color: #fff;
    border: none;
    margin-right: 10px;
    margin-bottom: 110px;
}
.projects-buttons .bordered-button{
    background: #fff;
    color: #007FEB;
    border: 2px solid #007FEB;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #007FEB;
    text-align: center;
    color: #fff;
}
.footer p{
    margin-top: 19px;
}
h1{
    margin-top: 70px;
    font-family: 'Zilla Slab', serif;
}
@media only screen and (min-width: 420px){
    .body{
        width: 60%;
    }
}