* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgba(8, 0, 38);
}

.side-menu {
  margin: 2em auto;
  width: 80%;
}
.menu {
  float: right;
}
.side-menu>.menu>ul>li {
  display: inline-block;
}
.side-menu>.menu>ul>li>a {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  font-size: 1.25rem;
  
}
.side-menu>.menu>ul>li>a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;

  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.side-menu>.menu>ul>li>a:hover::after{
  width: 100px;
  left: 0;
}