* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgba(21, 24, 36);
}
.navbar{
  width: 60%;
  margin: 80px auto;
}
.navbar>ul{
  float: right;
}
.navbar>ul>li{
  display: inline-block;
  margin-left: 50px;
}
.navbar>ul>li>a{
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  position: relative;
}
.navbar>ul>li>a::after{
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 35px;
  background: #f25757;
  transition: all 0.3s ease, left 0.3s 0s;
  width: 0;
  left: 50%;
}
.navbar>ul>li>a:hover::after{
  width: 100%;
  left: 0;

}
.main-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.self-portrait {
  width: 200px;
}